<%= link_to run_response_path(run, response), class: "ck-response-row", id: "response_#{response.id}" do %>
  <span class="ck-response-row__index">#<%= index %></span>
  <span class="ck-response-row__text"><%= truncate(response.response_text.to_s, length: 160) %></span>
  <span class="ck-response-row__score">
    <% if response.reviewed? %>
      <span class="<%= ck_badge_classes(ck_score_kind(response.score)) %>"><%= response.score %></span>
    <% elsif run.status == "failed" %>
      <span class="<%= ck_badge_classes(:failed) %>">Failed</span>
    <% elsif run.status == "judging" %>
      <span class="<%= ck_badge_classes(:running) %>">Judging</span>
    <% end %>
  </span>
<% end %>
